:root {
    --border-color: #EBEBEB;
    --item-lv2-color: #EC2028;
    --white-color: #fff;
    --text-color: #323C3F;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Cabin', sans-serif;
    color: var(--text-color);
}

/* ANIMATION */
@keyframes fadeIn {
    from {
        opacity: 0.5;
    }
    to {
        opacity: 1;
    }
}

.open {
    transform: scale(1, 1);
    transform-origin: top;
    transition: all .3s;
    height: 300px;
}

.close {
    transform: scale(1, 0);
    transform-origin: top;
    transition: all .3s;
    height: 0px;
}

/* GRID */
.grid {
    max-width: 1200px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 0 15px;
}

.grid__row {
    display: flex;
    padding: 0 15px;
    margin: 0 -30px;
    justify-content: space-between;
    flex-wrap: wrap;
}



/* RESPONSIVE */

@media only screen and (max-width: 900px) {
    .brand-logo {
        border: none !important;
    }

    .brand-logo img {
        width: 200px;
    }
    
    .bars {
        position: absolute;
        height: 50px;
        width: 50px;
        transform: translateY(-100%);
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 30px;
        border: none;
        background-color: transparent;
    }

    .nav-bar-container {
        align-items: flex-start;
    }
    
    .options {
        flex-direction: column;
        display: none;
        display: flex;
    }

    .nav-item-lv1 {
        border-bottom: 1px solid var(--border-color);
    }

    .col-sm-12 {
        width: 100%;
        padding: 0 15px;
    }
    
    .cart, .search {
        transform: translateY(-100%);
        font-size: 20px;
    }
}


@media only screen and (min-width: 901px) {
    .bars {
        display: none;
    }

    .options {
        display: flex;
    }

    .col-lg-12 {
        width: 100%;
        padding: 0 15px;
    }

    .col-lg-2 {
        width: calc(100% / 6);
        padding: 0 15px;
    }

    .col-lg-2-4 {
        width: 20%;
        padding: 0 15px;
    }
}