/* BRAND LOGO */
.brand-logo {
    display: flex;
    justify-content: center;
    margin-top: 5px;
    padding-bottom: 8px;
    border-bottom: 1px solid var(--border-color);
}

/* NAV BAR */
.nav-bar {
    position: relative;
    z-index: 1;
    margin-bottom: 50px;
}

.nav-item-lv1 {
    padding: 0 16px;
    line-height: 49px;
    /* height: 50px; */
    font-size: 14px;
    font-weight: 700;
    background-color: white;
}

.dropdown-menu {
    transform: translateX(-20px);
}

.nav-item-lv2 {
    height: 40px;
    background-color: var(--white-color);
    border: 1px solid var(--border-color);
    list-style: none;
    width: 200px;
    padding: 0px 16px;
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 400;
    color: var(--text-color);
    background-color: white;
}

.btn-lv1 {
    border: none;
    background-color: transparent;
}

/* .show-nav-item {
    transform: scale(1, 1);
    transform-origin: top;
    transition: all .3s;
} */

.hide-nav-item {
    transform: scale(1, 0);
    transform-origin: top;
    transition: all .3s;
    height: 0px;
}

/* Extend */
.extend {
    display: flex;
    position: absolute;
    right: 0;
    top: 0;
}

/* Search */
.search {
    position: relative;
    display: flex;
    align-items: center;
    width: 50px;
    height: 50px;
    justify-content: center;
    cursor: pointer;
}

.search-option {
    position: absolute;
    z-index: 1;
    width: 280px;
    top: 100%;
    right: 0;
    display: none;
    align-items: center;
    padding: 0 8px;
    border: 1px solid var(--border-color);
}

.search:hover .search-option{
    display: flex;
}

.search-input {
    height: 40px;
    flex: 1;
    margin-right: 8px;
    border: none;
}

.search-input:focus {
    outline-width: 0;
}

/* Cart */
.cart {
    position: relative;
    display: flex;
    align-items: center;
    width: 50px;
    height: 50px;
    justify-content: center;
    cursor: pointer;
}

.cart:hover {
    color: var(--item-lv2-color);
}

.quantity {
    border-radius: 50%;
    background-color: var(--item-lv2-color);
    color: white;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    line-height: 20px;
    position: absolute;
    top: 10%;
    right: 3px;
    font-size: 14px;
}

.cart-list {
    position: absolute;
    z-index: 1;
    top: 100%;
    right: 0;
    width: 280px;
    height: 40px;
    border: 1px solid var(--border-color);
    display: none;
    align-items: center;
    padding: 8px 16px;
    box-shadow: 0 0 16px var(--border-color);
    color: var(--text-color);
    font-size: 14px;
}

.cart:hover .cart-list {
    display: flex;
}

/* CONTAINER */
/* New arrival */
.products-heading {
    position: relative;
    width: 230px;
    text-align: center;
    font-size: 36px;
    /* margin-top: 55px; */
    padding-bottom: 14px;
    margin-left: 50%;
    transform: translateX(-50%);
}

.products-heading:hover {
    color: var(--item-lv2-color);
    animation: changeColor ease-in 0.2s;
    cursor: pointer;
}

.products-heading::after {
    content: "";
    position: absolute;
    top: 100%;
    border-width: 1px 25px;
    border-color: var(--item-lv2-color);
    border-style: solid;
    left: 50%;
    transform: translateX(-50%);
}

/* SLIDER */
.products-list {
    position: relative;
    /* width: 1200px; */
    width: 90vw;
    max-width: 1200px;
    margin: auto;
    overflow: hidden;
    margin-top: 20px;
}


.container {
    /* width: 4500px; */
    width: calc(90vw * 3.75);
    max-width: 4500px;
    padding: 0 15px;
    margin: auto;
    overflow: hidden;

}

.product-slide {
    display: flex;
    padding: 0 15px;
    margin: 0 -30px;
}

.product-item {
    width: 100%;
    padding: 0 15px;
    cursor: pointer;
    position: relative;
}

.product-item:hover .product-overlay, 
.product-item:hover .list-item-name{
    display: block;
    color: var(--item-lv2-color);
}

.product-overlay {
    /* width: 270px;
    height: 270px; */
    width: calc(85vw / 4);
    max-width: 270px;
    height: calc(85vw / 4);
    max-height: 270px;
    background-color: rgba(255, 255, 255, 0.4);
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    margin-left: 15px;
    display: none;
}


.item-img {
    width: 100%;
    position: relative;
}


.list-item-detail {
    margin-top: 20px;
    margin-bottom: 20px;
}

.list-item-name {
    margin-bottom: 15px;
    color: var(--text-color);
}

.list-item-price {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
}

#prevBtn {
    border: none;
    position: absolute;
    top: 40%;
    left: 0px;
    z-index: 10;
    color: var(--text-color);
    
} 

#nextBtn {
    top: 40%;
    border: none;
    position: absolute;
    right: 0px;
    z-index: 10;
    color: var(--text-color);
}

.btn {
    font-size: 25px;
    background-color: var(--white-color);
}

/* CATEGORY */
.category {
    border-top: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
    padding-top: 28px;
    padding-bottom: 24px;
    margin-top: 30px;
}

.category-heading {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    font-size: 20px;
}

.list {
    display: flex;
    justify-content: center;
    list-style: none;
}

.item img {
    width: 100%;
}

/* FOOTER */
footer {
    margin-top: 30px;
    margin-bottom: 35px;
}

.footer-heading {
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 15px;
    margin-top: 30px;
}

.footer-list {
    display: flex;
    flex-direction: column;
    font-size: 14px;
}

.footer-item {
    text-decoration: none;
    color: var(--text-color);
    padding: 8px 0;
    font-weight: 400;
}

.footer-item:hover {
    color: var(--item-lv2-color);
    animation: changeColor ease-in 0.2s;
}

.footer-icon {
    padding-right: 20px;
    color: var(--text-color);
}


