/* BRAND LOGO */
.brand-logo {
    display: flex;
    justify-content: center;
    margin-top: 5px;
    padding-bottom: 8px;
    border-bottom: 1px solid var(--border-color);
}

/* NAV BAR */
.nav-bar-container {
    display: flex;
    justify-content: space-between;
    /* border: 1px solid blue; */
}

.options {
    display: flex;
    font-size: 14px;
    font-weight: 700;
    flex: 1;
}

.nav-item-lv1 {
    /* display: block; */
    position: relative;
    padding: 0 15px;
    height: 50px;
    display: flex;
    align-items: center;
}

.nav-item-lv1:hover {
    color: var(--item-lv2-color);
    cursor: pointer;
    animation: changeColor ease-in 0.2s;

}

.options div i {
    margin-left: 4px;
}

/* dropdown-menu */
.dropdown-menu {
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 0;
    list-style: none;
    display: none;
    border: none;
    animation: fadeIn ease-in 0.2s;
}

.nav-item-lv1:hover .dropdown-menu {
    display: block;
}

.nav-item-lv2 {
    height: 40px;
    width: 200px;
    display: flex;
    align-items: center;
    padding: 0 10px;
    border: 1px solid var(--border-color);
    color: var(--text-color);
    font-weight: 400;
    background-color: var(--white-color);
}

.nav-item-lv2:hover {
    background-color: var(--item-lv2-color);
    cursor: pointer;
    color: var(--white-color);
}

/* Search */
.search {
    position: relative;
    display: flex;
    align-items: center;
    width: 50px;
    justify-content: center;
    cursor: pointer;
}

.search-option {
    position: absolute;
    z-index: 1;
    width: 280px;
    top: 100%;
    right: 0;
    display: none;
    align-items: center;
    padding: 0 8px;
    border: 1px solid var(--border-color);
}

.search:hover .search-option{
    display: flex;
}

.search-input {
    height: 40px;
    flex: 1;
    margin-right: 8px;
    border: none;
}

.search-input:focus {
    outline-width: 0;
}

/* Cart */
.cart {
    position: relative;
    display: flex;
    align-items: center;
    width: 50px;
    justify-content: center;
    cursor: pointer;
}

.cart:hover {
    color: var(--item-lv2-color);
}

.quantity {
    border-radius: 50%;
    background-color: var(--item-lv2-color);
    color: white;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    line-height: 20px;
    position: absolute;
    top: 10%;
    right: 3px;
    font-size: 14px;
}

.cart-list {
    position: absolute;
    z-index: 1;
    top: 100%;
    right: 0;
    width: 280px;
    height: 40px;
    border: 1px solid var(--border-color);
    display: none;
    align-items: center;
    padding: 8px 16px;
    box-shadow: 0 0 16px var(--border-color);
    color: var(--text-color);
    font-size: 14px;
}

.cart:hover .cart-list {
    display: flex;
}

/* CONTAINER */
/* New arrival */
.products-heading {
    position: relative;
    width: 230px;
    text-align: center;
    font-size: 36px;
    margin-top: 55px;
    padding-bottom: 14px;
    margin-left: 50%;
    transform: translateX(-50%);
}

.products-heading:hover {
    color: var(--item-lv2-color);
    animation: changeColor ease-in 0.2s;
    cursor: pointer;
}

.products-heading::after {
    content: "";
    position: absolute;
    top: 100%;
    border-width: 1px 25px;
    border-color: var(--item-lv2-color);
    border-style: solid;
    left: 50%;
    transform: translateX(-50%);
}

.products-list {
    position: relative;
    width: 100%;
    /* max-width: 1200px; */
    display: flex;
    /* justify-content: center; */
}

#prevBtn {
    border: none;
    position: absolute;
    top: 50%;
    left: 0px;
    z-index: 10;
    /* background-color: transparent; */
    
} 

#nextBtn {
    top: 50%;
    border: none;
    position: absolute;
    right: 0px;
    z-index: 10;
}

.btn {
    /* color: var(--border-color); */
    font-size: 25px;
}

.products-list-items {
    width: 1200px;
}

.item-img {
    width: 100%;
}


.list-item-detail {
    margin-top: 20px;
    margin-bottom: 20px;
}

.list-item-name {
    margin-bottom: 15px;
}

.list-item-price {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
}

/* SLIDER */
.container {
    width: 4500px;
    padding: 0 15px;
    margin: auto;
    overflow: hidden;

}

.slide {
    display: flex;
    padding: 0 15px;
    margin: 0 -30px;
}

.image {
    width: 100%;
    padding: 0 15px;
}

.check {
    position: relative;
    width: 1200px;
    margin: auto;
    overflow: hidden;
    margin-top: 20px;
}


/* CATEGORY */
.category {
    border-top: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
    padding-top: 28px;
    padding-bottom: 24px;
    margin-top: 30px;
}

.category-heading {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    font-size: 28px;
}

.list {
    display: flex;
    justify-content: center;
    list-style: none;
}

.item img {
    width: 100%;
}

/* FOOTER */
footer {
    margin-top: 30px;
    margin-bottom: 35px;
}

.footer-heading {
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 15px;
    margin-top: 30px;
}

.footer-list {
    display: flex;
    flex-direction: column;
    font-size: 14px;
}

.footer-item {
    text-decoration: none;
    color: var(--text-color);
    padding: 8px 0;
    font-weight: 400;
}

.footer-item:hover {
    color: var(--item-lv2-color);
    animation: changeColor ease-in 0.2s;
}

.footer-icon {
    padding-right: 20px;
    color: var(--text-color);
}


